* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3 {
  color: antiquewhite;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1.25rem;
}
h2,
h3 {
  color: #222;
}
.title {
  margin-bottom: 3rem;
  font-style: bold;
  text-shadow: #222;
}
.section {
  scroll-margin-top: 4rem;
  padding: 5rem 0;
}
/* add :not(.nav-logo) to img */
/* NAvBar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 4rem;
}
.nav-icons {
  display: none;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
}
.nav-header {
  display: flex;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  padding-left: 2.25rem;
}
/* nav toggle functionality */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 280px;
}
/* nav at bigger screen size */
@media screen and (min-width: 992px) {
  /* hide nav toggle button */
  .nav-toggle {
    display: none;
  }
  li {
    list-style-type: none;
  }
  /* show links */
  .nav-links {
    height: auto;
    /* display: flex; */
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* optional */
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
  }
  .nav-link:hover {
    padding: 0;

    background: transparent;
  }
  .nav-icons {
    display: flex;
  }

  .nav-link {
    margin-right: 0.7rem;
  }
  .nav-icon {
    margin-right: 0.7rem;

    font-size: 1.2rem;
    transition: all 0.3s linear;
  }
  .nav-icon:hover {
    color: var(--clr-primary-8);
  }
}
/* set hero to 
min-height:calc(100vh - 62px);
*/

/* Hero */

.hero-banner p {
  max-width: 35rem;
  letter-spacing: 0.25rem;
  color: whitesmoke;
}

.hero {
  min-height: calc(100vh - 62px);
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url('./assets/images/tour-1.jpeg') center/cover no-repeat;
}

/* about */
.about-img {
  position: relative;
}
.about-photo {
  position: relative;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .about-img,
  .about-info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid grey;
  }
}

/* services */

@media screen and (min-width: 576px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .service {
    display: flex;
    text-align: left;
  }
  .service-icon {
    align-self: start;
  }
  .service-info {
    padding-left: 1rem;
  }
  .service-title {
    margin-bottom: 0.5rem;
  }
}
